<ion-view cache-view="false" title="{{localidad}}: Select Indicator...">
    <ion-content class="has-header" padding="true" overflow-scroll="true" scroll="true">
        <a class="button button-energized button-block " href="#/page8" >VIEW LOCATION DRAFT</a>
        <a class="button button-calm button-block " href="#/page9" >VISUALIZE</a>
        <a class="button button-assertive button-block " href="#/page15">TAKE A PHOTO</a>
        <ion-list>
			<ion-item class="item item-text-wrap" ng-repeat="item in muestra_indicadores" ng-click="test(item)">
				{{item.title}}	
			</ion-item>
        </ion-list>
    </ion-content>
</ion-view>















































